
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: #dbd2d2;
  }
  
  .menu li {
    padding: 10px;
  }
  
  .menu li a {
    color: #f241e6;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu li a img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }
  